{{! layout}}
<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
   
    <!-- Boxicons CDN Link -->
    
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
    
      <span class="logo_name ms-5">ADMIN</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="/admin/view-allproducts">
            <i class='bx bx-box' ></i>
            <span class="links_name">All Products</span>
          </a>
        </li>
        <li>
          <a href="/admin/all-users">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">All Users</span>
          </a>
        </li>
        <li>
          <a href="/admin/view-category">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">All Category</span>
          </a>
        </li>
        <li>
          <a href="/admin/add-product">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Add Products</span>
          </a>
        </li>
        <li>
          <a href="/admin/add-category">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Add Category</span>
          </a>
        </li>
        <li>
          <a href="/admin/all-orders">
            <i class='bx bx-user' ></i>
            <span class="links_name">All orders</span>
          </a>
        </li>
        <li>
          <a href="/admin/add-banner">
            <i class="fa-solid fa-image"></i>
            <span class="links_name">Banner</span>
          </a>
        </li>
       
        <li class="log_out">
          <a href="/admin/admin-logout">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
    
 
    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Order</div>
            <div class="number">40,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Sales</div>
            <div class="number">38,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Profit</div>
            <div class="number">$12,876</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt'></i>
              <span class="text">Up from yesterday</span>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Total Return</div>
            <div class="number">11,086</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down'></i>
              <span class="text">Down From Today</span>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

     </div>
     
  </section>

  <script>
   let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
  sidebar.classList.toggle("active");
  if(sidebar.classList.contains("active")){
  sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
  sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
 </script>

</body>
</html>

