<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: black;">
    <div class="container-fluid">
      <a class="navbar-brand ms-5 ps-5 " href="" style="font-family: Koulen; font-weight: bolder; font-size: 40px;">ADMIN</a>
      </div>
    </div>
  </nav>

</header>