<header id="header">
    <div class="header-banner">

    </div>
    <nav class="header-nav" style="background-color: red;">
        <div class="container">
            <div class="hidden-md-down">
                <div id="_desktop_language_selector">
                    <div class="language-selector-wrapper selector-block hidden-md-down">
                        <span id="language-selector-label" class=" selector-label hidden-lg-down">Language :</span>
                        <div class="language-selector localiz_block  dropdown js-dropdown">
                            <button data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                                aria-expanded="false" aria-label="Language dropdown">
                                <img src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16"
                                    height="11" />
                                <span class="expand-more">English</span>
                                <i class="material-icons">expand_more</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="language-selector-label">
                                <li class="current">
                                    <a href="index.html" class="dropdown-item"><img
                                            src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt=""
                                            width="16" height="11" />English</a>
                                </li>
                                <li>
                                    <a href="http://demo.posthemes.com/pos_ecolife_fashion/fr/"
                                        class="dropdown-item"><img src="" alt="" width="16" height="11" />Malayalam</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="language-selector-wrapper hidden-lg-up">
                        <div class="selector-mobile dropdown js-dropdown">
                            <button data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                                aria-expanded="false" aria-label="Language dropdown">
                                <img src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt="" width="16"
                                    height="11" />
                                <span class="expand-more">English</span>
                                <i class="material-icons">expand_more</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="language-selector-label">
                                <li class="current">
                                    <a href="index.html" class="dropdown-item"><img
                                            src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/1.jpg" alt=""
                                            width="16" height="11" />English</a>
                                </li>
                                <li>
                                    <a href="http://demo.posthemes.com/pos_ecolife_fashion/fr/"
                                        class="dropdown-item"><img
                                            src="http://demo.posthemes.com/pos_ecolife_fashion/img/l/2.jpg" alt=""
                                            width="16" height="11" />Français</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="_desktop_currency_selector">
                    <div class="currency-selector-wrapper selector-block hidden-md-down">
                        <span id="currency-selector-label" class=" selector-label hidden-lg-down">Currency :</span>
                        <div class="currency-selector localiz_block dropdown js-dropdown">
                            <button data-target="#" data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                                aria-expanded="false" aria-label="Currency dropdown">
                                <span class="expand-more _gray-darker">INR ₹</span>
                                <i class="material-icons">expand_more</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="currency-selector-label">
                                <li>
                                    <a title="Euro" rel="nofollow"
                                        href="index6edc.html?SubmitCurrency=1&amp;id_currency=2"
                                        class="dropdown-item">INR ₹</a>
                                </li>
                                <li class="current">
                                    <a title="US Dollar" rel="nofollow"
                                        href="indexe3c8.html?SubmitCurrency=1&amp;id_currency=1"
                                        class="dropdown-item">USD $</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="currency-selector-wrapper hidden-lg-up">
                        <div class="selector-mobile dropdown js-dropdown">
                            <button data-target="#" data-toggle="dropdown" class=" btn-unstyle" aria-haspopup="true"
                                aria-expanded="false" aria-label="Currency dropdown">
                                <span class="expand-more _gray-darker">USD $</span>
                                <i class="material-icons">expand_more</i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="currency-selector-label">
                                <li>
                                    <a title="Euro" rel="nofollow"
                                        href="index6edc.html?SubmitCurrency=1&amp;id_currency=2"
                                        class="dropdown-item">EUR €</a>
                                </li>
                                <li class="current">
                                    <a title="US Dollar" rel="nofollow"
                                        href="indexe3c8.html?SubmitCurrency=1&amp;id_currency=1"
                                        class="dropdown-item">USD $</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="_desktop_user_info">
                    <div class="user-info-block selector-block">
                        <div class="currency-selector localiz_block dropdown js-dropdown">
                            <button data-target="#" data-toggle="dropdown" class=" btn-unstyle hidden-md-down">
                                <span class="expand-more">Setting</span>
                                <i class="material-icons">expand_more</i>
                            </button>
                            <button data-target="#" data-toggle="dropdown" class=" btn-unstyle hidden-lg-up">
                                <i class="ion-ios-contact"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="loginfd9a.html" rel="nofollow" class="dropdown-item">My account</a>
                                </li>
                                <li>
                                <li>
                                    <a href="cart75f4.html?action=show" class="dropdown-item">Checkout</a>
                                </li>
                                <li>
                                    <a href="loginfd9a.html" title="Log in to your customer account" rel="nofollow"
                                        class="dropdown-item">
                                        <span>Sign in</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div id="_desktop_static">
                    <div class="static-nav">Free Shipment From 100 Eur (EU) <a href="#">Learn More</a></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="hidden-lg-up  mobile">
                <div id="_mobile_static"></div>
                <div class="row row-mobile">
                    <div class="col-mobile col-md-4 col-xs-4">
                        <div class="float-xs-left" id="menu-icon">
                            <i class="ion-android-menu"></i>
                        </div>
                        <div id="mobile_top_menu_wrapper" class="row hidden-lg-up" style="display:none;">
                            <div class="top-header-mobile">
                                <div id="_mobile_compare"></div>
                                <div id="_mobile_wishtlist"></div>
                            </div>
                            <div id="_mobile_currency_selector"></div>
                            <div id="_mobile_language_selector"></div>
                            <div class="menu-close">
                                menu <i class="material-icons float-xs-right">arrow_back</i>
                            </div>
                            <div class="menu-tabs">
                                <div class="js-top-menu-bottom">
                                    <div id="_mobile_megamenu"></div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-mobile col-md-4 col-xs-4 mobile-center">
                        <div class="top-logo" id="_mobile_logo"></div>
                    </div>
                    <div class="col-mobile col-md-4 col-xs-4 mobile-right">
                        <div id="_mobile_cart_block"></div>
                        <div id="_mobile_user_info"></div>
                    </div>
                </div>
                <div id="_mobile_search_category"></div>
            </div>
        </div>
    </nav>
    <div class="header-top top_bg hidden-md-down">
        <div class="container">
            <div class="row">
                <div class=" col col-md-4 col-sm-12">
                </div>
                <div class="col col col-md-4" id="_desktop_logo">
                    <a href="/">
                        <img class="logo img-responsive" src="/Logo/Logo2.svg" alt="Sparkle in "
                            style="width: 350px;">
                    </a>
                </div>
                <!-- pos search module TOP -->
                <div class="header-bottom">
                    <div class="container">
                        <div id="_desktop_megamenu" class="use-sticky megamenu_center">
                            <div class="pos-menu-horizontal">
                                <ul class="menu-content">

                                    <li class=" menu-item menu-item1   ">

                                        <a href="/">

                                            <span>Home</span>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- /pos search module TOP -->

            </div>

        </div>
    </div>

    </div>
    </div>

</header>